@CHARSET "ISO-8859-1";
html{
	height : 100%;
}

body {
	background: #3B3738;
	height : 100%;
}

.jumbotron {
	background: #FDF3E7;
}

.inside {
	border-color: #3B3738;
}

#contentHolder {
	padding: 20px;
	height: 100%;
}

#header h1 {
	font-style: italic;
	font-variant: small-caps;
	font-family: cursive;
	color: white;
	font-size: 50px;
}

.advertisement {
	width: 49%;
	float: left;
	height: 600px;
	font-style: oblique;
	font-family: cursive;
	background: #FDF3E7;
}

.login, .register {
	width: 49%;
	float: right;
	height: 600px;
	font-size: medium;
	background: #FDF3E7;
}
.regResult {
	display: none;
}

.register, .successRegister{
	display: none;
	padding: 20px;
}

#header {
	text-align: center;
}

#userEntry {
	padding: 20px;
}

table tr td {
	padding: 10px;
}

#registerLink {
	padding: 5px;
	text-align: right;
}

#forgotPassword {
	padding: 10px;
}

#leftMenu {
	float: left;
}

#rightMenu {
	float: right;
}

#menuHolder {
	height: 40px;
	padding: 10px;
}

.leftContentHolder {
	float: left;
	width: 25%;
	display: none;
	min-height : 100%;
	height : auto;
}

.rightContentHolder {
	float: right;
	width: 25%;
	display: none;
	min-height : 100%;
	height : auto;
}

.centerContentHolder {
	float: right;
	width: 50%;
	display: none;
	height: auto;
	min-height: 100%
}

#mainHolder {
	padding: 10px;
	height: 100%;
}

#alertError {
	display: none;
}

#myProfile, #home, #myBlogs, #logout {
	float: left;
	display: none;
	padding-left: 10px;
}

#contentTextArea {
	padding: 10px;
	height: 60%
}

#toolContainer {
	width: 100%;
	padding: 10px;
	
	
}

#headingContainer {
	width: 100%;
	height: 100%;
}

#viewCreatedBlogSection{
	display: none;
}

#createBlogSection{
	height: 100%;
}

#editBlogLink{
	display: none;
}

#userDiv{
	padding-left: 20px;
	display: none;
	color: white;
}

#blogContent{
	height: 100%;
	width : 100%;
}

#userProfile, #viewClickedBlogSection{
	display: none;
}

#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:270px;
    width:315px;
    border:1px solid #ACD8F0;
    overflow:auto; 
    }
  
#usermsg {
    width:315px;
    height:50px;
    border:1px solid #ACD8F0; 
    }
    
#receiverName {
    width:100px;
    border:1px solid #ACD8F0; 
    }  

}

.content{
	height: 100%;
}

.centerContentHolder.panel-body{
	height: 100%;
}

.marginBlog{
	min-height : 100%;
	height : auto;
	border: 1px solid blue;
	padding: 10px;
	margin-bottom: 20px
}

#listBlogHeading{
	border: 1px solid;
}

#updateUserResult{
	color: Green;
}

